*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "FontName";
  src: url("FileName.eot");
  src: url("FileName.eot?#iefix") format("embedded-opentype"),
    url("FileName.woff") format("woff"), url("FileName.ttf") format("truetype"),
    url("FileName.svg#FontName") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --primary: #dfdfdf;
  --secondary: #212121;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  font-family: "primary";
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

span,
p {
  font-size: 2rem;
  line-height: 1.2;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1.2fr) 2fr;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6.4rem;
}

.section_wrapper {
  position: relative;
  width: max-content;
}

.section_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section_bg_video {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transform: scale(0.5);
}
.section_content {
  display: flex;
  align-items: center;
}

.section_content_item {
  width: 100vw;
  padding-right: 120rem;
}

.section_content_item_title {
  margin-bottom: 3.2rem;
}

.section_bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 6.4rem 3.2rem;
}

.section_bar_label {
  margin-bottom: 2.4rem;
}
.section_bar_label_item {
  padding: 2.4rem 6.4rem;
  justify-self: center;

  border-radius: 0.4rem;
  border: 1px solid #00000057;
  background-color: transparent;
  color: var(--secondary);
  transition: background-colo 0.64s ease-out, color 0.64s ease-out;
}

.section_bar_label_item.--active {
  background-color: var(--secondary);
  color: var(--primary);
  transform: background-colo 0.64s ease-out, color 0.64s ease-out;
}
.section_bar_label_item:last-child {
  justify-self: end;
}

.section_bar_line_dot {
  width: 1.6rem;
  height: 1.6em;
  border-radius: 50%;
  background-color: var(--secondary);
  z-index: 20;
  justify-self: center;

  scale: 0;
  transition: scale 0.48s ease-out;
}

.section_bar_line_dot.--active {
  scale: 1;
  transition: scale 0.48s ease-out;
}

.section_bar_line_dot:last-child {
  justify-self: end;
  margin-right: 9.6rem;
}

.section_bar_line {
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  width: 100%;
  padding: inherit;
  z-index: -1;
}

.section_bar_line_filled,
.section_bar_line_empty {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--secondary);
  z-index: 100;
}

.section_bar_line_empty {
  width: 100%;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  span,
  p {
    font-size: 2.4rem;
  }

  .section_wrapper {
    width: 100%;
    padding-top: 16rem;
  }

  .section_content {
    flex-direction: column;
  }
  .section_content_item {
    padding-right: 0;
    width: 100%;
    height: 100vh;
  }
  .section_bar {
    background-color: var(--primary);
  }

  .section_bar_label_itme {
    padding: 0.8rem 1.6rem;
  }

  .section_bar_line_dot:last-child {
    margin-right: 4.8rem;
  }
}
